	@model PersonInventoryModel

	@*<h1>Inventory Authorization</h1>
	<Form method="post">
		<p>
			<label>User Name:</label><br />
			<input type="text" name="username" />
		</p>
		<p>
			<label>Password</label><br />
			<input type="password" name="password" />
		</p>
		<input type="submit" name="Sign in" title="Sign in" />
		</p>
	</Form>*@
	@using (Html.BeginForm("Authorization", "Inventory", FormMethod.Post))
	{
		<p>
			@Html.LabelFor(m=>m.UserName, "User Name")<br />
			@Html.TextBoxFor(m=>m.UserName," ", new { type = "text"})
		</p>

		<p>
			@Html.LabelFor(m=>m.Password, "Password")<br />
			@Html.PasswordFor(m=>m.Password," ")
		</p>

		<input type="submit" name="Sign in" />
	}

