
<h1>Registration(just for example)</h1>
<Form method="post">
	<p>
		<label>User Name:</label><br />
		<input type="text" name="username" />
	</p>
	<p>
		<label>Password</label><br />
		<input type="password" name="password" />
	</p>
	<p>
		<label>Password</label><br />
		<input type="password" name="password" />
	</p>
	<input type="submit" name="Sign in" title="Sign in" />
	</p>
</Form>
