@*-------------------Частичное представление Lesson 16 HomeWork Task 2-----------------------*@
<h3 style="text-decoration-line:overline">Частичное представление</h3>

<p style="color:deeppink">Для задачи №2 из 16-го урока</p>