<h2>User Form</h2>
<Form method="post">
	<p>
		<label>User Name:</label><br />
		<input type="text" name="username" />
	</p>
	<p>
		<label>Password</label><br />
		<input type="password" name="password" />
	</p>
	<p>
		<label>Age</label><br />
		<input type="number" name="age" />
	</p>
	<p>
		<label>Info</label><br />
		<input name="info" />
	</p>
	<p>
		<input type="submit" name="Send" />
	</p>
</Form>
