<h2>Login HomeWork16</h2>
<Form method="post">
	<p>
		<label>User Name:</label><br />
		<input type="text" name="username" />
	</p>
	<p>
		<label>Password</label><br />
		<input type="password" name="password" />
	</p>
	<p>
		<input type="submit" name="Send" />
	</p>
</Form>
